.hmm{
    border-radius: 15px;
    background: linear-gradient(to bottom left, #6699ff 0%, #ffff00 100%);


}
.favourite{
    padding: 10px;
}
.header{
    text-align:center;
    background:#F0F0F0;
    border-radius: 15px;
}
