<div class="container-fluid">
<div class="row">
  <div class="col-12 header">
    <b> ICE AND FIRE</b>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['/books']"><b>Books</b></a>
        <a class="nav-item nav-link" [routerLink]="['/characters']"><b>Characters</b></a>
        <a class="nav-item nav-link" [routerLink]="['/houses']"><b>Houses</b></a>

      </div>
    </div>
  </nav>

</div>

<router-outlet></router-outlet>
